
  html,
  body {    
    background-color: rgba(251, 247, 247, 0.5);
     
}
  h1 {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  p {
    color: #fff;
  }
  .custom-form {
    min-width: 300px;
    max-width: 50%;
  /*  margin: 0px auto; */
    background: /*rgba(255, 255, 255, 0.15)*/ rgba(0, 0, 0, 0.5);
    padding: 2rem 3rem; 
    margin: auto;
    border-radius: 2.5rem;
    background-color: /*#ecf0f3*/rgba(15, 15, 15, 0.5) ;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 5rem;

   
  }
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
      inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;

  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: /*#ffffff*/ black;
    font-weight: bold;
    background-color: /*#bcd8c1*/ #fff;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }
  
/* footers */

.foot {
  margin-top: 480px !important;
}


.text-white h6{
  margin-top: 12px;
  margin-left: 0%;
}

.text-span {
  color:rgba(247, 248, 251, 0.5)
}